<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.rodrilapenta.gastos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ar.com.rodrilapenta.gastos.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ar.com.rodrilapenta.gastos.Registrarse" />
        <activity android:name="ar.com.rodrilapenta.gastos.HomeActivity" />
        <activity android:name="ar.com.rodrilapenta.gastos.EquipoInfoActivity" />
        <activity android:name="ar.com.rodrilapenta.gastos.JugadorInfoActivity" />
        <activity android:name="ar.com.rodrilapenta.gastos.SituacionInfoActivity" />
    </application>

</manifest>